---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

    
    
    <paper-card heading="{{ post.title }}">
        <time datetime="{{ post.date | date_to_xmlschema }}" >{{ post.date | date_to_string }}</time>
  <div class="card-content">{{ post.content | strip_html | truncatewords:50 }}</div>
  <div class="card-actions">
      <a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}"><paper-button raised class="colored">Read</paper-button>
          <paper-ripple></paper-ripple>   
    </a>
  </div>
</paper-card>
    {% endfor %}

</ul>
