<footer itemscope itemtype="http://schema.org/WPFooter">
   
    <div id="footwrap">
        <p class="left">&nbsp;Copyrights© <span itemscope="" itemprop="copyrightYear">2016</span></p>
        <a href="https://feedburner.google.com/fb/a/mailverify?uri=webjedablog&amp;loc=en_US" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><p class="right arrow">Subscribe</p></a>
        <p class="centered" itemprop="copyrightHolder"><a id="foot" target="_blank" href="http://webjeda.com"><img alt="Built by WebJeda" id="footimg" src="/img/built-by-webjeda.svg"></a></p>
    </div>
    
</footer>
