<footer itemscope itemtype="http://schema.org/WPFooter">
   
    <div id="footwrap">
        <p class="left">&nbsp;Copyrights© <span itemscope="" itemprop="copyrightYear">2016</span></p>
        <p class="right subs"><a target="_blank" href="http://eepurl.com/bMx0pz">Subscribe</a></p>
        <p class="centered" itemprop="copyrightHolder"><a id="foot" target="_blank" href="http://webjeda.com"><img alt="Built by WebJeda" id="footimg" src="/img/built-by-webjeda.svg"></a></p>
    </div>
    
</footer>
