<!-- Social Button HTML -->
<br /><br />

<div id="ss">

<div class="fb-like" data-href="https://www.facebook.com/webjeda/" data-width="100" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>&nbsp;&nbsp;
<!-- Facebook -->
<a href="javascript:fbshareCurrentPage()" target="_blank" ><img src="/img/facebook-share-webjeda.png">
  </a>&nbsp;
  
<!-- reddit -->

  <!-- Twitter -->
   <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="webdesign" data-via="webjeda" data-count="vertical" target="_blank" class="share-btn twitter">
    </a>

<!-- Google Plus -->
&nbsp;<a href="javascript:gshare()" target="_blank" ><img src="/img/google-logo.jpg">
  </a>
  
  <!-- reddit -->
&nbsp;<a href="javascript:redshare()" target="_blank" ><img src="/img/reddit-submit.gif">
  </a>
</div>




<script async>
function fbshareCurrentPage()
    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href), 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>

<script async>
    function gshare() {
        
        window.open("https://plus.google.com/share?url="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;
        
    }
</script>
<script async>
    function redshare() {
        
        window.open("https://www.reddit.com/submit?url="+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=900');return false;
        
    }
</script>


<script async>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>



<!-- Place this tag after the last share tag. -->
<script async>
    
    (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=549480635219583";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>






<style>

#ss { 
    display: flex;
   }
  
</style>
