<!-- Social Button HTML -->
<p>

<div class="fb-like" data-href="https://www.facebook.com/webjeda" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div><br /><br />

<!-- Twitter -->
<a href="javascript:fbshareCurrentPage()" target="_blank" class="share-btn facebook">
<img scr="/img/facebook-share-webjeda.png" ></a>

<a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /></a>
  
   <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="your_hash_tag" data-via="your_screen_name" data-count="vertical" target="_blank" class="share-btn twitter">
    </a>

<!-- Google Plus -->
<div class="g-plus" data-action="share"></div><br />



<!-- Facebook -->


<!-- StumbleUpon (url, title) -->

</p>

<style>

.fa {
    color:#333;
    font-size: 1em;
    margin-left: 0.5em;   
    
    }
    
    
.sharek {
    
    
            font-weight: bold;
            color:#333;
    
     }
    
.share-btn {
    
    /* display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;*/
}

.share-btn:hover {
  color: #000;
}

.share-btn:active {
/*  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;*/
}

/*.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }
.share-btn.reddit       { background: #dd4b39; }
.share-btn.stumbleupon  { background: #009688; }*/
    
</style>


<div id="fb-root"></div>
<script>
    
    (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=549480635219583";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>
function fbshareCurrentPage()
    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>



<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
