/*- Custom style -*/

// -- Put custom style under this point -- //

#ss { 
    display: flex;
   }

div#like {
    display: inline-flex;
    margin-top: 4px;
}


.entry {
     border: 0;
     -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
       border-radius: 4px;
        height: 20px;
        width: 160px;
}

input[type=submit] {
    border-radius: 2px;
    border: 0;
    background: #26A65B;
    height: 20px;
    width: 70px;
    color:#fff;
}

.subs {
    height: 25px;
    width: 70px;
    border:0;
    border-radius: 2px;
    background-color: #26A65B;
    color:#EAEDEE;
    box-shadow: #7b7b7b 1px 1px 1px 1px;
}

.subs:hover {
    
   background-color: #33985C;     
}

.left{
text-align:left;
float:left;
}
.right{
float:right;
text-align:right;
}
.centered{
text-align:center;
}