/*- Custom style -*/

// -- Put custom style under this point -- //


div#like {
    display: initial;;
     }


.entry {
     border: 0;
     -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
       border-radius: 4px;
        height: 20px;
        width: 160px;
}

input[type=submit] {
    border-radius: 2px;
    border: 0;
    background: #26A65B;
    height: 20px;
    width: 70px;
    color:#fff;
}


.left {
    text-align:left;
    float:left;
    width: 33%;
    margin: 0 auto;
    font-size: 0.85em;
}
.right{
    float:right;
    text-align:right;
    width: 33%;
    margin: 0 auto 10px;
}
.centered{
        text-align:center;
        width: 33%;
        margin: 0 auto;
}
.navfooter {
    background-color: transparent;
    border: none;
}

#footwrap {
    width: 90%;
    margin: 0 auto;
}


//Author-box start
#authorcontent {
    width:90%;

}

div#authorcontent {
    width: 90%;
    margin: 0 auto;
    padding: 5px 0px 15px 10px;
    color:#5F5A5A;
}

img#image-author {
    margin-left: 0px;
    margin-top: 10px;
    float: left;
}

/* .fa {
    margin: 10px 2px 0px 0px;
} */
#social-author {
    float:right;    

}

div#aboutauthor {
    margin: 5px 5px 5px 100px;
}

//Author-box end



.image-author {
        width: 20%;
}

#about-author {
    margin: 5px 5px 5px 100px;
    font-size: 1.2em;
    font-weight: 300;
}

div#author-content {
    width:90%;
    margin:0 auto;
    padding-bottom: 35px;
}


#im-ab {
    padding-bottom: 2px;
}


//Arrow button css start
.arrow {
    width: 4em;
    font-size: 0.9em;
    background: #2BB1F3;
    border-radius: 3px 0 0 3px;
    color: #FFFFFF;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none!important;
    -webkit-transition: color .2s;
}

.arrow:before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0,0,0,.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.arrow:after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #2BB1F3;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}



.arrow.youtube {
    background: #D24D57;
}

.arrow.youtube:after {
    border-left: 10px solid #D24D57;
}

a.arrow:hover {
    color: #555;
}

.right.arrow:hover:after {
    border-left: 10px solid #d14;
}

.right.arrow:hover {
    background: #d14;
}

//Arrow css end

time {
    margin-left: 30px;
    color: #999;;
}



#share-box {
    margin-bottom: 2em;
}

#line {
    width: 30%;
    border-color: rgba(85, 85, 85, 0.1);
    
}



//W3 CSS card and buttons start
/* *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box} */

button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

.w3-btn{border:none;display:inline-block;outline:0;padding:1px 16px;vertical-align:middle;overflow:hidden;text-decoration:none !important;color:#fff;border-radius: 1em;background-color: #2574A9;text-align:center;transition:.2s ease-out;cursor:pointer;white-space:nowrap;font-weight: 300;}
.w3-btn.w3-disabled,.w3-btn-floating.w3-disabled,.w3-btn:disabled,.w3-btn-floating:disabled,.w3-btn-floating-large.w3-disabled,.w3-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.w3-btn.w3-disabled *,.w3-btn-floating.w3-disabled *,.w3-btn:disabled *,.w3-btn-floating:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover,.w3-btn-floating.w3-disabled:hover,.w3-btn-floating:disabled:hover,
.w3-btn-floating-large.w3-disabled:hover,.w3-btn-floating-large:disabled:hover{box-shadow:none}
.w3-btn:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn-floating,.w3-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;transition:.3s;cursor:pointer;font-size:24px}
.w3-btn-floating{width:40px;height:40px;line-height:40px}
.w3-btn-floating-large{width:56px;height:56px;line-height:56px}
.w3-btn-group .w3-btn{float:left}
.w3-btn.w3-ripple{position:relative}

.w3-card{border:1px solid #ccc}
.w3-card-2,.w3-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important}
.w3-card-4{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}
.w3-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}
.w3-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important}
.w3-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21) !important}
.w3-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22) !important}
.w3-animate-opacity{
-webkit-animation-name:opac;-webkit-animation-duration:4s;animation-name:opac;animation-duration:4s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.w3-animate-top{
position:relative;-webkit-animation-name:animatetop;-webkit-animation-duration:0.4s;animation-name:animatetop;animation-duration:0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
/* LEFT */
.w3-animate-left{
position:relative;-webkit-animation-name:animateleft;-webkit-animation-duration:0.4s;animation-name:animateleft;animation-duration:0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
/* RIGHT */
.w3-animate-right{
position:relative;-webkit-animation-name:animateright;-webkit-animation-duration:0.4s;animation-name:animateright;animation-duration:0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
/* BOTTOM */
.w3-animate-bottom{
position:relative;-webkit-animation-name:animatebottom;-webkit-animation-duration:0.4s;animation-name:animatebottom;animation-duration:0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}


.w3-card-2 {
    margin-bottom: 2em;
}    

.w3-card-2 h1 {
    padding: 15px 15px 5px 30px;
    border-bottom: 1px solid #F7F8FD;
    color: #2574A9;
    text-rendering: optimizeLegibility;
}

.card-content {
    padding: 6px 15px 15px 30px;
    border-bottom: 1px solid rgba(153, 153, 136, 0.42);
    margin-bottom: 7px;
}

.card-actions {
    padding: 0px 0px 10px 30px;
}


//w3 css card and button end
 .yb {
    font-weight: 700;
     margin-bottom: 1em;
}


#share-box-container {
    margin-top: 2em;
}



//Tags
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
  li {
    display: inline-block;
    margin: 0 12px 12px 0; 
  }
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}
.post-tags {
  text-align: right;
}

//Tags end
.li#post-list {
    list-style: none;

}

img.post-image {float: left;margin-right: 10px;}


li.arch-list {
list-style: none;
}

.arch-time {
    margin-right: 15px;
    color: #999;
    float: right;
}

hr.arch-line {
    margin-left: -15px;
    margin-right: -15px;
    border-color: rgba(255, 255, 255, 0.29);
}



.w3-card-4 {
        margin-bottom: 2em;
        padding: 0.8em 0.5em 0em 0.8em;
        overflow-y: overlay;   
}

p.arch-para {
       font-size: 1em;
        text-align: left;
}

h3.arch-h1 {
    padding: 0;

}

.arch-hr {
        border-color: rgba(238, 238, 238, 0.24)
}

.arch-a {
        padding-top: 5px;
}

.realted-li {
    list-style: none;
    list-style: none;
    border: 1px solid #eee;
    text-align: center;
}

.realted-li:hover {
    box-shadow: #eee 0px 0px 4px 1px;   
}
