/*- Custom style -*/

// -- Put custom style under this point -- //

#ss { 
    display: flex;
   }

div#like {
    display: inline-flex;
    margin-top: 4px;
}

//signika font
@font-face{font-family:'Signika';font-style:normal;font-weight:300;src:local('Signika-Light'), url(http://fonts.gstatic.com/s/signika/v6/koFYE26bhT88HgRA8f4vbfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');}
@font-face{font-family:'Signika';font-style:normal;font-weight:400;src:local('Signika'), local('Signika-Regular'), url(http://fonts.gstatic.com/s/signika/v6/q41y_9MUP_N8ipOH4ORRvw.woff2) format('woff2');}
@font-face{font-family:'Signika';font-style:normal;font-weight:600;src:local('Signika-Semibold'), url(http://fonts.gstatic.com/s/signika/v6/FZa_MODmDkR9DTu5jHSnSfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');}
@font-face{font-family:'Signika';font-style:normal;font-weight:700;src:local('Signika-Bold'), url(http://fonts.gstatic.com/s/signika/v6/7M5kxD4eGxuhgFaIk95pBfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2');}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:900;src:local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2) format('woff2');}
@font-face{font-family:'Source Sans Pro';font-style:italic;font-weight:400;src:local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format('woff2');}