---
layout: compress
---
<!DOCTYPE html>
<html>
          {% include head.html %}
    <body>
             <div id="top"></div>
            {% include header.html %}
                {{ content }}         
             {% include footer-1.html %}

<script>
    window.onload = function(){ 
    setTimeout(function() { 
      var ad = document.querySelector("ins.adsbygoogle");
      if (ad && ad.innerHTML.replace(/\s/g, "").length == 0) {
        ad.style.cssText = "display:block !important; visibility:visible !important;text-decoration:none !important;font-family: inherit;font-size: 1.25em;color: #e00;";  
        ad.innerHTML = "You seem to have an Adblock running. Ads are not cool but they keep my website runnning. I would really appreciate if you could whitelist my website in Adblock or buy me a cup of coffee!"; 
      }      
    }, 2000);
  }; 
              
</script>

<script src="/js/css-def.js"></script>

 {% include analytics.html %}
 <script defer="defer" src="//load.sumome.com/" data-sumo-site-id="dec2f5872eb578a8dc528768e57e31d20af5bf9e5fffdc1da6241fe254e00bc2" ></script>
  </body>
</html>