---
layout: compress
---
<!DOCTYPE html>
<html>
    <div id="container">
          {% include head.html %}

          <body>
            <div id="top"></div>

            {% include header.html %}

                {{ content }}
  
             {% include footer.html %}

<script>
    window.onload = function(){ 
    setTimeout(function() { 
      var ad = document.querySelector("ins.adsbygoogle");
      if (ad && ad.innerHTML.replace(/\s/g, "").length == 0) {
        ad.style.cssText = "display:block !important; visibility:visible !important;text-decoration:none !important;font-family: inherit;font-size: 1.25em;color: #e00;";  
        ad.innerHTML = "You seem to have an Adblock running. Ads are not cool but they keep my website runnning. I would really appreciate if you could whitelist my website in Adblock or buy me a cup of coffee!"; 
      }      
    }, 2000);
  }; 
              
</script>
<script async src="/js/css-def.js"></script>

<script>
    
    $.ajax({

  // The 'type' property sets the HTTP method.
  // A value of 'PUT' or 'DELETE' will trigger a preflight request.
  type: 'GET',

  // The URL to make the request to.
  url: 'https://rugged-sunbeam-127917.appspot.com',

  // The 'contentType' property sets the 'Content-Type' header.
  // The JQuery default for this property is
  // 'application/x-www-form-urlencoded; charset=UTF-8', which does not trigger
  // a preflight. If you set this value to anything other than
  // application/x-www-form-urlencoded, multipart/form-data, or text/plain,
  // you will trigger a preflight request.
  contentType: 'text/plain',

  xhrFields: {
    // The 'xhrFields' property sets additional fields on the XMLHttpRequest.
    // This can be used to set the 'withCredentials' property.
    // Set the value to 'true' if you'd like to pass cookies to the server.
    // If this is enabled, your server must respond with the header
    // 'Access-Control-Allow-Credentials: true'.
    withCredentials: false
  },

  headers: {
    // Set any custom headers here.
    // If you set any non-simple headers, your server must include these
    // headers in the 'Access-Control-Allow-Headers' response header.
  },

  success: function() {
    // Here's where you handle a successful response.
  },

  error: function() {
    // Here's where you handle an error response.
    // Note that if the error was due to a CORS issue,
    // this function will still fire, but there won't be any additional
    // information about the error.
  }
});
</script>
          {% include analytics.html %}
           {% include ga_data_fetch.html %}
          </body>
    </div>
</html>