---
layout: compress
---
<!DOCTYPE html>
<html>
          {% include head.html %}
    <body>
             <div id="top"></div>
            {% include header.html %}
                {{ content }}         
             {% include footer-1.html %}

<script>
    window.onload = function(){ 
    setTimeout(function() { 
      var ad = document.querySelector("ins.adsbygoogle");
      if (ad && ad.innerHTML.replace(/\s/g, "").length == 0) {
        ad.style.cssText = "display:block !important; visibility:visible !important;text-decoration:none !important;font-family: inherit;font-size: 1.25em;color: #e00;";  
        ad.innerHTML = "You seem to have an Adblock running. Ads are not cool but they keep my website runnning. I would really appreciate if you could whitelist my website in Adblock or buy me a cup of coffee!"; 
      }      
    }, 2000);
  }; 
              
</script>
<link rel="stylesheet" href="/css/main.css">
<script>
    var cb = function() {
var m = document.createElement('link'); m.rel = 'stylesheet';
var n = document.createElement('link'); n.rel = 'stylesheet';
m.href = 'https://fonts.googleapis.com/css?family=Droid+Serif:400';
n.href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
var i = document.getElementsByTagName('head')[0]; i.parentNode.insertBefore(m, i);
var j = document.getElementsByTagName('head')[0]; j.parentNode.insertBefore(n, j);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>
 {% include analytics.html %}
 
  </body>
</html>