---
layout: default
---
   <!-- JQuery -->
<script async src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
<div class="page-content">
             <style>
                 .page-content {
                     margin: 0 auto;
                     max-width: 75%;
                 }
                 
                 
                 
                 @include media-query($on-palm) {
                    .page-content {
                     margin: 0 auto;
                     max-width: 96% !important;
                     }
                     
                     img {
                      max-width: 96%;   
                     }
                 }

</style>


    <div class="main-content">
                   
       
        <article itemscope itemtype="http://schema.org/TechArticle"  id="post-page" >
              {% include  adsense-pt.html %} 
            <a itemprop="url" class="post-link" href="{{ site.url }}{{ page.url }}"><h2 itemprop="headline" id="post-title">{{ page.title }}</h2></a>

            <span class="time-auth"><time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="by-line" >{{ page.date | date_to_string }}</time>&#44;&nbsp;&nbsp;<div class="post-date" id="ga-pageviews"></div></span> 
            {% include post-tags.html %}	
            <div itemprop="articleBody" class="content" >
                    {{ content }}
            </div>
            </article>	
            {% include share.html %}
            {% include next-previous.html %}
            <div class="clear"></div>
            {% include disqus.html %}

        <br /><a href="#top" ><div id="go-top"><span class="hint--top hint--bounce" data-hint="Go to top"><img src="/img/rocket-go-top.png" width="20" height="37" alt="go to top"></span></div></a>


    </div>
</div>
{% include rss-link.html %}

<!-- sign up form -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"210acce5db69d3d4a04b0e25d","lid":"bee17ce703"}) })</script>
{% include ga_data_fetch.html %}
